{% extends '@SonataAdmin/CRUD/list.html.twig' %}
{% form_theme form '@HgabkaSettings/Form/fields.html.twig' '@SonataAdmin/Form/form_admin_fields.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/hgabkasettings/css/setting_list.css') }}" type="text/css" media="all"/>
{% endblock %}
{% block title %}
    {{ 'hg_settings.list.title'|trans }}
{% endblock %}
{% block actions %}

    {% if creator %}
        {% include 'SonataAdminBundle:Core:create_button.html.twig' %}
    {% endif %}

{% endblock %}
{% block list_table %}
    <div class="col-xs-12 col-md-12{% if admin.useCategories %} nav-tabs-custom{% endif %}">
        {% if admin.useCategories %}
            {% set categoryId = admin.activeCategoryId %}
            <ul class="nav nav-tabs settings-category-nav-tabs" role="tablist">
                <li class="{% if categoryId is empty or categoryId == 'all' %} active{% endif %}">
                    <a href="" class="category-tab" data-id="all">
                        <i class="fa fa-exclamation-circle has-errors hide" aria-hidden="true"></i> {{ 'hg_settings.label.all_category'|trans }}
                    </a>
                </li>
                {% for category in admin.categories %}
                    <li class="{% if categoryId == category.id %} active{% endif %}">
                        <a href="" class="category-tab" data-id="{{ category.id }}">
                            <i class="fa fa-exclamation-circle has-errors hide" aria-hidden="true"></i> {{ category.name(app.request.locale) }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ form_start(form) }}

        <div class="box box-primary">
            <div class="box-body table-responsive no-padding">
                <table class="table table-bordered table-striped sonata-ba-list">
                    {% block table_header %}
                        <thead>
                        <tr class="sonata-ba-list-field-header">
                            {% if creator %}
                                <th class="sonata-ba-list-field-header-text">
                                    {{ 'hg_settings.header.name'|trans }}
                                </th>
                            {% endif %}
                            <th class="sonata-ba-list-field-header-text">
                                {{ 'hg_settings.header.description'|trans }}
                            </th>

                            <th class="sonata-ba-list-field-header-text">
                                {{ 'hg_settings.header.value'|trans }}
                            </th>
                            {% if creator %}
                                <th class="sonata-ba-list-field-header-text">
                                    {{ 'hg_settings.header.actions'|trans }}
                                </th>
                            {% endif %}
                        </tr>
                        </thead>
                    {% endblock %}

                    {% block table_body %}
                        <tbody>
                        {% for setting in settings %}
                            {% if is_setting_visible(setting) %}
                                <tr {% if admin.useCategories %}data-category="{{ setting.category is not empty ? setting.category.id : '' }}"{% endif %}>
                                    {{ include('@HgabkaSettings/SettingAdmin/list_row.html.twig', { 'setting': setting, 'form' :  form, 'creator' : creator }) }}
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    {% endblock %}

                </table>
            </div>
        </div>
        {% if settings|length %}
            <div class="sonata-ba-form-actions well well-small form-actions stuck">
                <button type="submit" class="btn btn-success" name="btn_update_and_edit"><i class="fa fa-save" aria-hidden="true"></i> {{ 'hg_settings.label.save'|trans }}</button>
            </div>
        {% endif %}
        {{ form_end(form) }}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if admin.useCategories %}
    <script>
        $(function () {
            if ($('.settings-category-nav-tabs').length) {
                $('.settings-category-nav-tabs li a').click(function (e) {
                    e.preventDefault();
                    var $this = $(this);
                    var $li = $this.closest('li');
                    var catId = $this.data('id');

                    $('.settings-category-nav-tabs li').removeClass('active');
                    $li.addClass('active');

                    $.get('{{ admin.generateUrl('saveCategory') }}', {category: catId});

                    setActiveCategoryPage(catId);
                });

                function setActiveCategoryPage(catId) {
                    var $trs = $('form[name="settings"] table tbody tr');

                    $trs.hide();
                    
                    var realIndex = 0;

                    $trs.each(function (index, element) {
                        var $element = $(element);

                        if ('all' === catId || $element.data('category') === catId) {
                            $element.show();
                            if (0 === realIndex % 2) {
                                $element.removeClass('not-striped');
                                $element.addClass('striped');
                            } else {
                                $element.addClass('not-striped');
                                $element.removeClass('striped');
                            }
                            ++realIndex;
                        }
                    });
                }

                function setErrorsOnTabs() {
                    var $tds = $('form[name="settings"] table tbody tr td.has-error');

                    if ($tds.length) {
                        $('.settings-category-nav-tabs li a[data-id="all"] i.has-errors').removeClass('hide');
                    }

                    $tds.each(function (index, element) {
                        var $tr = $(element).closest('tr');

                        var catId = $tr.data('category');

                        $('.settings-category-nav-tabs li a[data-id="' + catId + '"] i.has-errors').removeClass('hide');
                    });

                }

                var currentCatId = $('.settings-category-nav-tabs li.active a').data('id');

                setActiveCategoryPage(currentCatId);
                setErrorsOnTabs();

                $('.btn.btn-success').click(function () {
                    if (!$('form[name="settings"]')[0].checkValidity()) {
                        $.get('{{ admin.generateUrl('saveCategory') }}', {category: 'all'});
                        $('.settings-category-nav-tabs li').removeClass('active');
                        $('.settings-category-nav-tabs li a[data-id="all"]').closest('li').addClass('active');
                        setActiveCategoryPage('all');
                    }
                });
            }
        });
    </script>
    {% endif %}
{% endblock %}
